{{#each post as |posts|}}
<div class="card post">
    <header>
        <h5><a href="/post/{{post.id}}">{{post.title}}</a></h5>
        <p>{{post.username}}, {{format_date post.date_created}}</p>
    </header>
    <main>
        <p>{{post.content}}</p>
    </main>
</div>
{{/each}}