<div class="card post">
    <header>
        <h5>{{post.title}}</h5>
        <p>{{post.user.username}}, {{format_date post.date_created}}</p>
    </header>
    <main>
        <p>{{post.content}}</p>
    </main>
</div>

{{#each post.comments as |comment|}}
<div class="card comment">
    <main>
        <p>{{comment.content}}</p>
        <p>-{{comment.user.username}}, {{format_date comment.date_created}}</p>
    </main>
</div>
{{/each}}

{{#if logged_in}}
<div class="button">
    <button id="add-comment"><h6>+ Add Comment</h6></button>
</div>
{{/if}}

<script src="./js/create-comment.js"></script>